#note_header {
    font-family: Helvetica;
    font-size: 40px; 
    color: black;
    white-space: normal;
}

.notes {
    font-family: Helvetica;
    font-size: 25px;
    color: black;
}

.edit {
    margin-left: 20px;
    display: none;
}

.note:hover .edit {
    display:inline-block;
}

a {
    text-decoration: none;
    color: black;
}

.removing {
    color: red !important;
}

body {
    background-color: #fff;
}