:root {
    --theme-color: #e60b99;
}

.toast {
    min-width: 16%;
    margin: auto;
    left: 50%;
    margin-left: -8%;
    padding: 2%;

    z-index: 2;
    position: fixed; /* Sit on top of the screen */

    visibility: hidden;
    background-color: #333;
    color: #fff; 
    text-align: center;
    border-radius: 15px;
    bottom: -20%;
}

.toast.show {
    visibility: visible;
    animation: fade;
    animation-duration: var(--duration);
}

@keyframes fade {
  0% {bottom: -20%; opacity: 0;}
  30%, 70% {bottom: 5%; opacity: 1;}
  100% {bottom: -20%; opacity: 0;}
}

.return {
    font-family: Helvetica;
    font-size: 3rem; 
    color: #555;
    white-space: normal;
    margin: 4px;
}

.remove, .edit {

}

.action {
    margin-left: 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.actions {
    display: none;
}

.actions:hover {
    display: inline-block;
}

.note {
    font-family: Helvetica;
    font-size: 1.5rem;
    color: black;
}

.edit_text {
    size: 10%;
    font-size: 1.5rem;
}

#note_input {
    padding: 0.5%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    border: none;
    width: 60%;
    border-radius: 10px;
}

#remove_button {
    border: none;
    color: var(--theme-color);
    border-radius: 100%;
    background-color: white;
}

#banner {
    min-width: 40%;
    left: 50%;
    margin-left: -20%;

    border-radius: 40px;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;

    align-items: center;
    text-align: center;
    background-color: var(--theme-color);
    position: fixed;
    z-index: 1;
}

#content {
    margin: 0.5%;
}

#logo {
    margin: 0.5%;
    margin-bottom: 2%;
    width: 15%;
    cursor: pointer;
}

#homepage_logo {
    position: relative;
    width: 15%;
    left: 50%;
    margin-left: -7.5%;
    margin-top: 10%;
}

#homepage_box {
    position: relative;
    left: 50%;
    margin-left: -10%;
    margin-top: 3%;

    background-color: var(--theme-color);
    border-radius: 20px;
    width: 20%;
    height: 20%;
}

.homepage_box_item {

}

a {
    text-decoration: none;
    color: black;
}

li {
    margin-top: 1%;
    margin-bottom: 1%;
}

body {
    margin: 0;
    background-color: #fff;
}