.return {
    font-family: Helvetica;
    font-size: 40px; 
    color: #555;
    white-space: normal;
    margin: 4px;
}

.edit {
    margin-left: 20px;
    display: none;
    font-family: Helvetica;
    font-size: 25px;
}

.edit:hover {
    display: inline-block;
}

.note {
    font-family: Helvetica;
    font-size: 25px;
    color: black;

}

a {
    text-decoration: none;
    color: black;
}

.removing {
    color: red !important;
}

body {
    background-color: #fff;
}